@model IEnumerable<Loan>

@{
    ViewData["Title"] = "Loans";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="text-center mb-4">Loans</h2>
            <a asp-action="Create" class="btn btn-primary rounded mb-3">Issue New Loan</a>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th hidden>ID</th>
                            <th>Book</th>
                            <th>Member</th>
                            <th>Issued Date</th>
                            <th>Due Date</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var loan in Model)
                        {
                            <tr>
                                <td hidden>@loan.Id</td>
                                <td>@loan.Book.Title</td>
                                <td>@loan.Member.Name</td>
                                <td>@loan.LoanDate.ToShortDateString()</td>
                                <td>@loan.ReturnDate.ToShortDateString()</td>
                                <td class="text-center">
                                    <a asp-action="Edit" asp-route-id="@loan.Id" class="btn btn-warning btn-sm rounded">Edit</a>
                                    &nbsp;&nbsp;<a asp-action="Delete" asp-route-id="@loan.Id" class="btn btn-danger btn-sm rounded">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>